{{#if this}}
{{#each this}}
<a href="{{url}}" class="social-icon" target="_blank" rel="noopener" title="{{name}}" aria-label="{{name}}" data-type="social-link" data-name="{{name}}" data-url="{{url}}" data-icon="{{icon}}">
    <i class="{{icon}}" aria-hidden="true"></i>
    <span class="nav-text visually-hidden" data-editable="social-link-name">{{name}}</span>
</a>
{{/each}}
{{/if}} 
